.title-box {
	&__title {
		font-family: "Poppins", sans-serif;
		font-size: 2.1rem;
		line-height: 1.2;
		color: var(--primary);
	}

	&__title-desc {
		font-family: "Poppins", sans-serif;
		font-size: 0.9rem;
		line-height: 1.2;
		color: var(--optional);
	}
}
