.header__search-bar-container {
	&--direction--up {
		transform: translateY(0);
	}
}

.search-bar-container {
	width: 40%;
	display: flex;
	justify-content: space-between;

	&__search-bar {
		width: 85%;
		padding: 0 7px;
		display: flex;
		align-items: center;
		background-color: var(--secondary);
		border-radius: 20px;
		cursor: text;
	}

	&__search-bar-input {
		flex-grow: 1;
		all: unset;
		width: 100%;
		height: 100%;
		padding: 1px 5px;
		background-color: transparent;
		font-family: "Poppins", sans-serif;
		font-size: 0.7rem;
		line-height: 0.5;
		outline: none;
		border: none;
	}

	&__search-icon {
		all: unset;
		width: 32px;
		height: 32px;
		border-radius: 30px;
		background: var(--accent) url(../asset/search-day.png) no-repeat center;
		background-size: 14px 14px;
		cursor: pointer;
		transition: 0.3s;

		&:hover {
			transform: scale(1.2);
		}

		&:active {
			transform: scale(1);
		}
	}
}
