.bg-d {
	background-color: var(--bg-dark);
}

.primary-d {
	background-color: var(--primary-dark);
}

.secondary-d {
	background-color: var(--secondary-dark);
}

.accent-d {
	background-color: var(--accent-dark);
	color: #4a4a4a;

	&:hover {
		background-color: var(--accent);
		color: var(--white);
	}
}

.c-primary-d {
	color: var(--primary-dark);
}

.optional-d {
	color: var(--optional-dark);
}

.icon-btn-d {
	background-image: url(../asset/search-dark.png);
}

.c-white {
	color: var(--white);
}

.c-black {
	color: var(--black);
}

img.img-filter-d {
	&::before,
	&::after {
		background-color: var(--primary-dark);
		color: black;
	}
}

.button-dark {
	color: #4a4a4a;

	&:hover {
		background-color: var(--accent);
		color: var(--white);
	}
}
