@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
:root {
  /*normal*/
  --bg: #fff;
  --primary: #8172de;
  --secondary: #e6e1ff;
  --accent: #ff8f51;
  --black: rgb(15, 15, 15);
  --optional: rgb(114, 114, 114);
  /*dark mode*/
  --bg-dark: #484656;
  --primary-dark: #c8bfff;
  --secondary-dark: #5a5867;
  --accent-dark: #ffae82;
  --white: rgb(235, 235, 235);
  --optional-dark: rgb(170, 170, 170);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.3s ease;
}

.page {
  scroll-behavior: smooth;
}

.container {
  width: 80%;
  padding: 10px;
  margin: auto;
}

.container__header {
  margin: 20px 0 20px;
  transform: translateY(33vh);
}
.container__header--direction--up {
  transform: translateY(-10px);
}

.header {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.title-box__title {
  font-family: "Poppins", sans-serif;
  font-size: 2.1rem;
  line-height: 1.2;
  color: var(--primary);
}
.title-box__title-desc {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  line-height: 1.2;
  color: var(--optional);
}

.header__search-bar-container--direction--up {
  transform: translateY(0);
}

.search-bar-container {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.search-bar-container__search-bar {
  width: 85%;
  padding: 0 7px;
  display: flex;
  align-items: center;
  background-color: var(--secondary);
  border-radius: 20px;
  cursor: text;
}
.search-bar-container__search-bar-input {
  flex-grow: 1;
  all: unset;
  width: 100%;
  margin: 6px 10px;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-size: 0.7rem;
  line-height: 0.5;
  outline: none;
  border: none;
}
.search-bar-container__search-icon {
  all: unset;
  width: 32px;
  height: 32px;
  border-radius: 30px;
  background: var(--accent) url(../image/search-day.png) no-repeat center;
  background-size: 14px 14px;
  cursor: pointer;
  transition: 0.3s;
}
.search-bar-container__search-icon:hover {
  transform: scale(1.2);
}
.search-bar-container__search-icon:active {
  transform: scale(1);
}

.area {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.area--effect {
  flex-direction: column;
  align-items: center;
}

.area__card {
  margin: 1.3vmax 1vmax;
}

.card {
  width: 17%;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  background-color: var(--secondary);
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  overflow: hidden;
  -webkit-transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card:hover {
  transform: scale(1.07);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 45px -10px, rgba(0, 0, 0, 0.05) 0px 5px 30px -10px;
}
.card__image-container {
  width: 100%;
  height: 220px;
  display: flex;
  align-items: center;
  background-color: var(--primary);
  overflow: hidden;
}
.card__image {
  position: relative;
  width: 100%;
}
.card__image::before {
  content: "sorry, missing image :(";
  width: 100%;
  height: 50px;
  position: absolute;
  display: block;
  background-color: var(--primary);
  color: white;
  font-size: 0.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: center;
  transition: 0.3s ease;
}
.card__description-wrapper {
  width: 100%;
  padding: 10px 10px 15px;
  display: flex;
  flex-direction: column;
}
.card__title {
  margin-bottom: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.2;
}
.card__year {
  color: var(--optional);
  font-family: "Poppins", sans-serif;
  font-size: 0.6rem;
  font-weight: 400;
  line-height: 1;
}

.button-container {
  margin-top: auto;
  width: 100%;
  padding: 0 10px 10px;
  display: flex;
}
.button-container__button {
  padding: 5px 10px;
  background-color: var(--accent);
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 0.6rem;
  list-style: 0;
  border: none;
  border-radius: 5px;
  transition: 0.3s;
}
.button-container__button:hover {
  background-color: var(--accent-dark);
  cursor: pointer;
}

.bg-modal-box {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  display: none;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}
.bg-modal-box--pop {
  display: grid;
}

.modal-box {
  width: 65%;
  padding: 15px;
  background-color: var(--bg);
  border-radius: 8px;
}
.modal-box__modal-block-splite {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.image-poster-container {
  border-radius: 8px;
  overflow: hidden;
}
.image-poster-container__image-poster {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  object-fit: cover;
  border-radius: 6px;
}
.image-poster-container__image-poster::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3000%;
  height: 3000%;
  background-color: var(--primary);
}
.image-poster-container__image-poster::after {
  content: "sorry, missing image :(";
  position: absolute;
  top: 0;
  left: 0;
  width: 308%;
  height: 1379%;
  display: grid;
  place-items: center;
  font: 0.7em Poppins Regular, sans-serif;
  color: white;
}

.content-modal {
  width: 100%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
}
.content-modal--error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.content-modal__split {
  width: 100%;
  color: black;
  border-radius: 8px;
}
.content-modal__title-modal {
  padding: 10px 15px;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  line-height: 1.3;
  background-color: var(--secondary);
  border-radius: 6px;
}
.content-modal__list-group {
  width: 100%;
  margin: 15px 0;
  padding: 10px 15px;
  background-color: var(--secondary);
  border-radius: 6px;
}
.content-modal__row-item {
  display: flex;
  align-items: flex-start;
}
.content-modal__connect {
  font-family: "Poppins", sans-serif;
  font-size: 0.85rem;
  font-weight: 600;
  line-height: 1.5;
  width: 20%;
}
.content-modal__connect:nth-child(2) {
  width: 2%;
}
.content-modal__value {
  font-size: 0.85rem;
  font-family: "Poppins", sans-serif;
  width: 78%;
}
.content-modal__short-plot {
  padding: 10px 15px;
  background-color: var(--secondary);
  font-family: "Poppins", sans-serif;
  font-size: 0.7rem;
  line-height: 1.3;
  text-align: justify;
  border-radius: 6px;
}

.button-close {
  width: 100%;
  margin-top: 15px;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  border-radius: 7px;
  background-color: var(--secondary);
}
.button-close__button {
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  background-color: var(--accent);
  color: white;
  border: none;
  border-radius: 7px;
  transition: 0.3s;
  cursor: pointer;
}
.button-close__button:hover {
  background-color: var(--accent-dark);
}

.theme-switch {
  width: 80px;
  height: 90px;
  position: fixed;
  bottom: -65px;
  right: 25px;
  display: flex;
  background-color: var(--secondary);
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.theme-switch:hover {
  bottom: -10px;
}
.theme-switch__title {
  margin: 5px auto;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.7rem;
  cursor: pointer;
}
.theme-switch__slider {
  width: 63px;
  height: 33px;
  padding: 2px;
  position: absolute;
  bottom: 20px;
  right: 8px;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 10px 38px -10px rgba(0, 0, 0, 0.4);
}
.theme-switch__checkbox {
  all: unset;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.theme-switch__circle {
  padding: 2px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--primary);
  border-radius: 50px;
  transform: 0.35s;
  z-index: -1;
}
.theme-switch__circle::after {
  content: "";
  display: block;
  width: 29px;
  height: 29px;
  background-color: white;
  border-radius: 50%;
  transition: 0.35s ease;
}
.theme-switch__image {
  height: 20px;
  position: absolute;
  top: 6.55px;
  left: 6.51px;
  transition: 0.35s ease;
  z-index: 1;
}
.theme-switch__checkbox:checked + .theme-switch__circle::after,
.theme-switch__checkbox:checked + .theme-switch__circle .theme-switch__image {
  transform: translateX(30px);
}
.theme-switch__checkbox:checked + .theme-switch__circle {
  background-color: var(--secondary-dark);
}

.error {
  margin: 100px 0 3px;
  color: rgb(170, 170, 170);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
}

.error-description {
  color: rgb(150, 150, 150);
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
}

.t-error-modalbox {
  margin: 70px 0 5px;
  color: rgb(170, 170, 170);
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
}

.d-error-modalbox {
  margin: 0 0 30px;
  color: rgb(150, 150, 150);
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
}

/*------------------ dark mode ---------------*/
.bg-d {
  background-color: var(--bg-dark) !important;
}

.primary-d {
  background-color: var(--primary-dark) !important;
}

.secondary-d {
  background-color: var(--secondary-dark) !important;
}

.accent-d {
  background-color: var(--accent-dark) !important;
}

.c-primary-d {
  color: var(--primary-dark) !important;
}

.optional-d {
  color: var(--optional-dark) !important;
}

.icon-btn-d {
  background-image: url(../image/search-dark.png) !important;
}

.c-white {
  color: var(--white) !important;
}

.c-black {
  color: var(--black) !important;
}

img.img-filter-d::before {
  background-color: var(--primary-dark);
  color: black;
}

img.img-filter-d::after {
  background-color: var(--primary-dark);
  color: black;
}

.btn-hov:hover {
  background-color: var(--accent) !important;
}

/*# sourceMappingURL=test.css.map */
